# 1. Read Data

In [ ]:
import pandas as pd
import re

In [ ]:
train = pd.read_csv("raw_data\\fulltrain.csv", header=None)
test = pd.read_csv("raw_data\\balancedtest.csv", header=None)

In [ ]:
train

       0                                                  1
0      1  A little less than a decade ago, hockey fans w...
1      1  The writers of the HBO series The Sopranos too...
2      1  Despite claims from the TV news outlet to offe...
3      1  After receiving 'subpar' service and experienc...
4      1  After watching his beloved Seattle Mariners pr...
...   ..                                                ...
48849  4  The ruling Kuomintang (KMT) has claimed owners...
48850  4  The Taipei city government has encouraged the ...
48851  4  President Ma Ying-jeou said Friday that a park...
48852  4  The families of the four people who were kille...
48853  4  The Ministry of Finance will make public on Sa...

[48854 rows x 2 columns]

In [ ]:
test

      0                                                  1
0     1  When so many actors seem content to churn out ...
1     1   In what football insiders are calling an unex...
2     1  In a freak accident following Game 3 of the N....
3     1  North Koreas official news agency announced to...
4     1  The former Alaska Governor Sarah Palin would b...
...  ..                                                ...
2995  4  The Air Force mistakenly gave rival companies ...
2996  4  The United Nations climate chief on Friday cha...
2997  4  River Plate midfielder Diego Buonanotte has un...
2998  4  Lawmakers were on the brink Tuesday of exempti...
2999  4  The Pentagon, which is processing bids on a ne...

[3000 rows x 2 columns]

## 2. Obtain the basic features

In [ ]:
#Change columns name
train.columns = ['Verdict','Text']

In [ ]:
train

       Verdict                                               Text
0            1  A little less than a decade ago, hockey fans w...
1            1  The writers of the HBO series The Sopranos too...
2            1  Despite claims from the TV news outlet to offe...
3            1  After receiving 'subpar' service and experienc...
4            1  After watching his beloved Seattle Mariners pr...
...        ...                                                ...
48849        4  The ruling Kuomintang (KMT) has claimed owners...
48850        4  The Taipei city government has encouraged the ...
48851        4  President Ma Ying-jeou said Friday that a park...
48852        4  The families of the four people who were kille...
48853        4  The Ministry of Finance will make public on Sa...

[48854 rows x 2 columns]

In [ ]:
test

      0                                                  1
0     1  When so many actors seem content to churn out ...
1     1   In what football insiders are calling an unex...
2     1  In a freak accident following Game 3 of the N....
3     1  North Koreas official news agency announced to...
4     1  The former Alaska Governor Sarah Palin would b...
...  ..                                                ...
2995  4  The Air Force mistakenly gave rival companies ...
2996  4  The United Nations climate chief on Friday cha...
2997  4  River Plate midfielder Diego Buonanotte has un...
2998  4  Lawmakers were on the brink Tuesday of exempti...
2999  4  The Pentagon, which is processing bids on a ne...

[3000 rows x 2 columns]

In [ ]:
#Check the first 10 lines
test.head(10)

   0                                                  1
0  1  When so many actors seem content to churn out ...
1  1   In what football insiders are calling an unex...
2  1  In a freak accident following Game 3 of the N....
3  1  North Koreas official news agency announced to...
4  1  The former Alaska Governor Sarah Palin would b...
5  1  With the first Presidential debate just two da...
6  1  There are fans, and then there are super-fans....
7  1  With its landmark decisions this week, the Uni...
8  1  Koch Industries is defending its acquisition o...
9  1  Republican lawmakers asked increasingly tough ...

In [ ]:
#Change columns name
test.columns = ['Verdict','Text']

In [ ]:
#Word count
train['word_count'] = train['Text'].apply(lambda x: len(str(x).split(" ")))
train[['Text', 'word_count']].head()

                                                Text  word_count
0  A little less than a decade ago, hockey fans w...         147
1  The writers of the HBO series The Sopranos too...         123
2  Despite claims from the TV news outlet to offe...         706
3  After receiving 'subpar' service and experienc...         706
4  After watching his beloved Seattle Mariners pr...         174

In [ ]:
#Char count
train['char_count'] = train['Text'].str.len()
train[['Text','char_count']].head()

                                                Text  char_count
0  A little less than a decade ago, hockey fans w...         873
1  The writers of the HBO series The Sopranos too...         715
2  Despite claims from the TV news outlet to offe...        4443
3  After receiving 'subpar' service and experienc...        3913
4  After watching his beloved Seattle Mariners pr...        1058

In [ ]:
#Average word length

def avg_word(sentence):
    words=sentence.split()
    return (sum(len(word) for word in words)/len(words))

train['avg_word'] = train['Text'].apply(lambda x:avg_word(x))
train[['Text','avg_word']].head()

                                                Text  avg_word
0  A little less than a decade ago, hockey fans w...  4.979452
1  The writers of the HBO series The Sopranos too...  4.860656
2  Despite claims from the TV news outlet to offe...  5.302128
3  After receiving 'subpar' service and experienc...  4.550355
4  After watching his beloved Seattle Mariners pr...  5.115607

In [ ]:
# The number of stop words
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop=stopwords.words('english')
train['stopwords']=train['Text'].apply(lambda sen:len([x for x in sen.split() if x in stop]))
train[['Text','stopwords']].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Danny\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                                Text  stopwords
0  A little less than a decade ago, hockey fans w...         46
1  The writers of the HBO series The Sopranos too...         43
2  Despite claims from the TV news outlet to offe...        219
3  After receiving 'subpar' service and experienc...        299
4  After watching his beloved Seattle Mariners pr...         59

In [ ]:
#The number of special chars
train['hashtags']=train['Text'].apply(lambda sen:len([x for x in sen.split() if x.startswith("#")]))
train[['Text','hashtags']].head()

                                                Text  hashtags
0  A little less than a decade ago, hockey fans w...         0
1  The writers of the HBO series The Sopranos too...         0
2  Despite claims from the TV news outlet to offe...         0
3  After receiving 'subpar' service and experienc...         0
4  After watching his beloved Seattle Mariners pr...         0

In [ ]:
#The number of numerics
train['numerics']=train['Text'].apply(lambda sen:len([x for x in sen.split() if x.isdigit()]))
train[['Text','numerics']].head()

                                                Text  numerics
0  A little less than a decade ago, hockey fans w...         0
1  The writers of the HBO series The Sopranos too...         1
2  Despite claims from the TV news outlet to offe...        20
3  After receiving 'subpar' service and experienc...         5
4  After watching his beloved Seattle Mariners pr...         0

In [ ]:
#The number of upper vocab
train['upper']=train['Text'].apply(lambda sen:len([x for x in sen.split() if x.isupper()]))
train[['Text','upper']].head()

                                                Text  upper
0  A little less than a decade ago, hockey fans w...      4
1  The writers of the HBO series The Sopranos too...      2
2  Despite claims from the TV news outlet to offe...      9
3  After receiving 'subpar' service and experienc...     13
4  After watching his beloved Seattle Mariners pr...      3

In [ ]:
train.head()

,Verdict,Text,word_count,char_count,avg_word,stopwords,hashtags,numerics,upper
0,1,"A little less than a decade ago, hockey fans w...",147,873,4.979452,46,0,0,4
1,1,The writers of the HBO series The Sopranos too...,123,715,4.860656,43,0,1,2
2,1,Despite claims from the TV news outlet to offe...,706,4443,5.302128,219,0,20,9
3,1,After receiving 'subpar' service and experienc...,706,3913,4.550355,299,0,5,13
4,1,After watching his beloved Seattle Mariners pr...,174,1058,5.115607,59,0,0,3

## 3. Preprocessing for Text

In [ ]:
#Delete HTML
from bs4 import BeautifulSoup
train['Text'] = train['Text'].apply(lambda x: BeautifulSoup(x,'html.parser').get_text())
test['Text'] = test['Text'].apply(lambda x: BeautifulSoup(x,'html.parser').get_text())
test['Text'].head()

0    When so many actors seem content to churn out ...
1     In what football insiders are calling an unex...
2    In a freak accident following Game 3 of the N....
3    North Koreas official news agency announced to...
4    The former Alaska Governor Sarah Palin would b...
Name: Text, dtype: object

In [ ]:
#Remove emoji
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)
train['Text']=train['Text'].apply(lambda x: remove_emoji(x))
test['Text']=test['Text'].apply(lambda x: remove_emoji(x))

In [ ]:
#Transform to lower letter
train['Text'] = train['Text'].apply(lambda x: x.lower())
test['Text'] = test['Text'].apply(lambda x: x.lower())
test['Text'].head()

0    when so many actors seem content to churn out ...
1     in what football insiders are calling an unex...
2    in a freak accident following game 3 of the n....
3    north koreas official news agency announced to...
4    the former alaska governor sarah palin would b...
Name: Text, dtype: object

In [ ]:
#Remove punctuation
import re
train['Text'] = train['Text'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
test['Text'] = test['Text'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
test['Text'].head()

0    when so many actors seem content to churn out ...
1     in what football insiders are calling an unex...
2    in a freak accident following game 3 of the nb...
3    north koreas official news agency announced to...
4    the former alaska governor sarah palin would b...
Name: Text, dtype: object

In [ ]:
#Substitute number
import inflect
def to_digit(digit):
    i = inflect.engine()
    if digit.isdigit():
        output = i.number_to_words(digit)
    else:
        output = digit
    return output
train['Text'] = train['Text'].apply(lambda x: to_digit(x))
test['Text'] = test['Text'].apply(lambda x: to_digit(x))
test['Text'].head()

0    when so many actors seem content to churn out ...
1     in what football insiders are calling an unex...
2    in a freak accident following game 3 of the nb...
3    north koreas official news agency announced to...
4    the former alaska governor sarah palin would b...
Name: Text, dtype: object

In [ ]:
#Remove the stopwords
from nltk.corpus import stopwords
stop=stopwords.words('english')
train['Text']=train['Text'].apply(lambda sen:" ".join(x for x in sen.split() if x not in stop))
test['Text']=test['Text'].apply(lambda sen:" ".join(x for x in sen.split() if x not in stop))
test['Text'].head()

0    many actors seem content churn performances qu...
1    football insiders calling unexpectedly severe ...
2    freak accident following game 3 nba finals cle...
3    north koreas official news agency announced to...
4    former alaska governor sarah palin would bring...
Name: Text, dtype: object

In [ ]:
#Remove the frequency words
freq=pd.Series(' '.join(train['Text']).split()).value_counts()[:10]
freq=list(freq.index)
train['Text']=train['Text'].apply(lambda sen:' '.join(x for x in sen.split() if x not in freq))
test['Text']=test['Text'].apply(lambda sen:' '.join(x for x in sen.split() if x not in freq))
test['Text'].head()

0    many actors seem content churn performances qu...
1    football insiders calling unexpectedly severe ...
2    freak accident following game 3 nba finals cle...
3    north koreas official news agency announced to...
4    former alaska governor sarah palin bring muchn...
Name: Text, dtype: object

In [ ]:
# Remove the scarce word
freq = pd.Series(' '.join(train['Text']).split()).value_counts()[-10:]
freq = list(freq.index)
train['Text'] = train['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
test['Text'] = test['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
test['Text'].head()

0    many actors seem content churn performances qu...
1    football insiders calling unexpectedly severe ...
2    freak accident following game 3 nba finals cle...
3    north koreas official news agency announced to...
4    former alaska governor sarah palin bring muchn...
Name: Text, dtype: object

In [ ]:
# #Correct the spelling errors
# from textblob import TextBlob
# train['Text'].apply(lambda x: str(TextBlob(x).correct()))
# test['Text'].apply(lambda x: str(TextBlob(x).correct()))
# test['Text'].head()

In [ ]:
#Noise Removal
def text_cleaner(text):
    rules = [
        {r'>\s+': u'>'},  # remove spaces after a tag opens or closes
        {r'\s+': u' '},  # replace consecutive spaces
        {r'\s*<br\s*/?>\s*': u'\n'},  # newline after a <br>
        {r'</(div)\s*>\s*': u'\n'},  # newline after </p> and </div> and <h1/>...
        {r'</(p|h\d)\s*>\s*': u'\n\n'},  # newline after </p> and </div> and <h1/>...
        {r'<head>.*<\s*(/head|body)[^>]*>': u''},  # remove <head> to </head>
        {r'<a\s+href="([^"]+)"[^>]*>.*</a>': r'\1'},  # show links instead of texts
        {r'[ \t]*<[^<]*?/?>': u''},  # remove remaining tags
        {r'^\s+': u''}  # remove spaces at the beginning
    ]
    for rule in rules:
      for (k, v) in rule.items():
        regex = re.compile(k)
        text = regex.sub(v, text)
      text = text.rstrip()
    return text.lower()

train['Text']=train['Text'].apply(lambda x: text_cleaner(x))

In [ ]:
#Stemming
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()
train['Text']=train['Text'].apply(lambda x:" ".join(ps.stem(word) for word in x.split()))
test['Text']=test['Text'].apply(lambda x:" ".join(ps.stem(word) for word in x.split()))
test['Text'].head()

0    mani actor seem content churn perform quick pa...
1    footbal insid call unexpectedli sever punish n...
2    freak accid follow game 3 nba final cleveland ...
3    north korea offici news agenc announc today mi...
4    former alaska governor sarah palin bring muchn...
Name: Text, dtype: object

In [ ]:
#Lemmatization
from textblob import Word
import nltk
nltk.download('wordnet')
train['Text']=train['Text'].apply(lambda x:" ".join([Word(word).lemmatize() for word in x.split()]))
test['Text']=test['Text'].apply(lambda x:" ".join([Word(word).lemmatize() for word in x.split()]))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Danny\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
train['Text']

0        littl le decad ago hockey fan bless slate game...
1        writer hbo seri soprano took anoth dare storyt...
2        despit claim tv news outlet offer nonstop news...
3        receiv subpar servic experienc unusu long wait...
4        watch belov seattl marin prevail san diego pad...
                               ...
48849    rule kuomintang kmt claim ownership slush fund...
48850    taipei citi encourag rebuild lowtomidris resid...
48851    presid yingjeou friday park built commemor jap...
48852    famili four kill landslid nation freeway 3 las...
48853    ministri financ make public saturday name big ...
Name: Text, Length: 48854, dtype: object

# 4. LSTM

### 4.1 Word2Vec

In [ ]:
from gensim.models import Word2Vec, KeyedVectors

In [ ]:
import torch
import torch.nn as nn
import pandas as pd
import numpy as np
import re
import spacy
from collections import Counter
from torch.utils.data import Dataset, DataLoader
import torch.nn.functional as F
import string
from torch.nn.utils.rnn import pack_padded_sequence, pad_packed_sequence
from sklearn.metrics import mean_squared_error

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(list(train['Text']), list(train['Verdict']), test_size=0.2)

In [ ]:
SIZE=20

# Dimension reduce using Word2Vec from k dimensions where
# k is number of unique words in corpus to size=30.
model = Word2Vec([x.split(" ") for x in X_train], size=SIZE, window=20, min_count=1, workers=30) # Train model.

# only need to save this
encoder = model.wv

# memory here can be freed
model = None

In [ ]:
def process_article(text, encoding):
    l = [encoding[i] if i in encoding else np.zeros(SIZE) for i in text.split()]
    return np.vstack(l)

In [ ]:
X_train = [process_article(x, encoder) for x in X_train]
X_valid = [process_article(x, encoder) for x in X_valid]

In [ ]:
class ArticleDataset(Dataset):
    def __init__(self, X, y):
        self.X = X
        self.y = torch.LongTensor(y)
        
    def __len__(self):
        return len(self.y)
    
    def __getitem__(self, idx):
        return torch.tensor(self.X[idx]).float(), self.y[idx] - 1

In [ ]:
train_dataset = ArticleDataset(X_train, y_train)

In [ ]:
# to make actual batches we have to pad or truncate data somehow.
BATCHSIZE = 1
train_loader = DataLoader(ArticleDataset(X_train, y_train), batch_size=BATCHSIZE, shuffle=True)
val_loader = DataLoader(ArticleDataset(X_valid, y_valid), batch_size=BATCHSIZE)

In [ ]:
# 100 = embedding dimension specified in word2vec

In [ ]:
class LSTMModel(torch.nn.Module):
    def __init__(self, n_hidden):
        super().__init__()
        self.dropout = nn.Dropout(0.3)
        self.lstm = nn.LSTM(SIZE, n_hidden, batch_first=True)
        self.fc = nn.Linear(n_hidden, 4)
        
        self.n_layers = 1
        self.n_hidden = n_hidden
        self.hidden = self.init_hidden(BATCHSIZE)
    
    def forward(self, x):
        '''
        Input here should be already preprocessed into encoded form.
        '''    
        self.hidden = model.init_hidden(1)
        x = self.dropout(x)
        o, self.hidden = self.lstm(x, self.hidden)
        out = self.fc(self.hidden[-1])
        return out
    
    def init_hidden(self, batch_size):
        '''
        Initialize hidden state.
        Create two new tensors with sizes n_layers x batch_size x n_hidden,
        initialized to zero, for hidden state and cell state of LSTM
        Arguments:
            batch_size: batch size, an integer
        Returns:
            hidden: hidden state initialized
        '''
        weight = next(self.parameters()).data
        if train_on_gpu:
            hidden = (weight.new(batch_size, self.n_layers, self.n_hidden).zero_().cuda(),
                      weight.new(batch_size, self.n_layers, self.n_hidden).zero_().cuda())

        else:
            hidden = (weight.new(batch_size, self.n_layers, self.n_hidden).zero_(),
                      weight.new(batch_size, self.n_layers, self.n_hidden).zero_())

        return hidden

In [ ]:
def count_parameters(model):
    params = [p.numel() for p in model.parameters() if p.requires_grad]
    for item in params:
        print(f'{item:>8}')
    print(f'________\n{sum(params):>8}')

In [ ]:
def trainmodel(model, epochs=1, lr=0.001):
    model.cuda()
    parameters = filter(lambda p: p.requires_grad, model.parameters())
    optimizer = torch.optim.Adam(parameters, lr=lr)
    for i in range(epochs):
        model.train()
        sum_loss = 0.0
        total = 0
        for x, y in train_loader:
            y_pred = model(x.cuda())[0]
            optimizer.zero_grad()
            loss = criterion(y_pred, y.cuda())
            loss.backward()
            optimizer.step()
            sum_loss += loss.item()
            total += 1
        val_loss, val_acc, val_rmse, x = validation_metrics(model, val_loader)
        print("train loss %.3f, val loss %.3f, val accuracy %.3f, and val rmse %.3f" % (sum_loss/total, val_loss, val_acc, val_rmse))

In [ ]:
def validation_metrics(model, val_loader):
    model.eval()
    model.cuda()
    correct = 0
    total = 0
    sum_loss = 0.0
    sum_rmse = 0.0
    preds = []
    
    for x, y in val_loader:
        y_pred = model(x.cuda())[0]
        y_pred = y_pred.cpu()
        loss = criterion(y_pred, y)
        pred = torch.max(y_pred, 1)[1]
        preds.append(pred)
        correct += (pred == y).float().sum()
        total += y.shape[0]
        sum_loss += loss.item()*y.shape[0]
        sum_rmse += np.sqrt(mean_squared_error(pred, y.unsqueeze(-1)))*y.shape[0]
    return sum_loss/total, correct/total, sum_rmse/total, preds

In [ ]:
train_on_gpu = True
model = LSTMModel(20)
count_parameters(model)

    1600
    1600
      80
      80
      80
       4
________
    3444

In [ ]:
criterion = nn.CrossEntropyLoss()
trainmodel(model)

train loss 0.413, val loss 0.273, val accuracy 0.909, and val rmse 0.192

### 4.2 Test

In [ ]:
test['Encoded'] = test['Text'].apply(lambda x: process_article(x, encoder))

In [ ]:
test_loader = DataLoader(ArticleDataset(test['Encoded'], test['Verdict']), batch_size=BATCHSIZE)

In [ ]:
a, b, c, d = validation_metrics(model, test_loader)

In [ ]:
d = [x.item() + 1 for x in d]

In [ ]:
test['Verdict']

0       1
1       1
2       1
3       1
4       1
       ..
2995    4
2996    4
2997    4
2998    4
2999    4
Name: Verdict, Length: 3000, dtype: int64

In [ ]:
from sklearn.metrics import precision_recall_fscore_support

In [ ]:
score2 = precision_recall_fscore_support(test['Verdict'], d, average='macro')

In [ ]:
score2

(0.6719366130464278, 0.673, 0.6686305300467905, None)